* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.icons
{
    display: flex;
    gap: 30px;
}

.header{
    display: flex;
    justify-content: space-around;
    background-color: pink;
}
/* Navigation bar */
nav {
    display: flex;
    justify-content: space-between; 
    background-color: rgb(248, 247, 247);
    padding: 10px 30px;
}

nav h2 {
    color: black;
    font-size: 24px;
    font-weight: 800;
}

nav h2 span {
    color: rgb(223, 18, 93);
}

.container {
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    list-style: none;
    margin-left: 100px;
    padding-left: 20px;
}

.container li {
    margin: 0 15px;
}

.container a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    transition: 0.3s;
}

.container a:hover {
    color: rgb(241, 94, 131);
}

/*main pages */
.head{
    background: url(../../../../Assets/image/vacation.jpg) center/cover no-repeat;
    height: 530px;  
    display: flex;  
    justify-content: space-around;
    align-items: center;
}

.main h5{
    display: flex;
    color:black;
    font-size: 40px;
}

.main h1{
    color: palevioletred;
}

.main button{
    height: 40px;
    width: 120px;
    border-radius: 20px;
    justify-content: center;
    gap: 200px;
    margin-top: 20px;
    background-color: rgb(189, 205, 173);
    color: black;
    border: none;
}

.main button {
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.com{
    display: flex;
}

.main2{
    background-color: white;
    height: 350px;
    width: 350px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 50px;
}

.rightcon{
    width: 420px;
    background-color: white;
    height: 420px;
    border: 5px solid pink;
    border-radius: 30px;
}

.book{ 
    
    width: 330px;
    height: 40px;
    background-color: palevioletred;
    color:white;
}

.con{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 400px;
    align-items: center;
    padding-top: 15px;
}

input{
    height: 40px; 
    border: 2.5px solid grey;
    border-radius: 4px;
}

.width{
    width: 333px;
}